// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.col-lg-4{
  height: 100%
}

.visible-lg > img{
  width: 100%;
  height: auto;
}

#pic{
  margin-bottom: 20px;

}

.post {
  height: 200px;
  overflow: scroll;
}

img{
  height: auto;
  width: 100%;
  background-size: cover;
  object-fit: fill;
}

.comment{
  text-align: center;
  font-size: 20px
}

.glyphicon-bookmark {
  margin-top:2px;
  font-size: 25px
}

.glyphicon-thumbs-up, .glyphicon-thumbs-down{
  margin-right: 10px;
  font-size: 25px;
}

a{
  color: white;
}

#like{
  padding: 0;
}

#post{
  padding:0px
}

#footer{
  font-size: 40px;
  text-align: center;
}

.fa-envelope-o, .fa-facebook-square, .fa-instagram, .fa-medium, .fa-twitter-square{
  padding: 0 8px
}

.color {
  color:black !important;
}

.label {
  font-size: 20px;
}

.body{
  font-size: 30px;
}
